*{
    margin: 0;
    padding: 0;
}

body{
    /* overflow: hidden; */
    height: 100vh;
}

h1{
    padding: 1% 0% 1% 10%;
    background-color: white;
    box-shadow: 0px 5px 20px 5px wheat ;
    font-family: sans-serif;


}
.addtask{
    display: flex;
    justify-content: flex-end;
    margin:5%;
    text-decoration:none;
    column-gap: 10px;
    align-items: center;
}
.plus{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    /* padding-top: 12px; */
    font-size: 35px;
    color: white;
    font-weight: bold;    
}

.add{
    font-size: 18px;
    text-decoration:none;
    
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* justify-content: center; */
    /* align-items: center; */
    row-gap: 20px;
    column-gap: 20px;
    margin-left: 13%;

}
.box{
    height: 45vh;
    width: 30%;
    /* box-shadow: 5px 5px 5px 2px gainsboro; */
    border: 1px solid rgb(128, 128, 128, 0.1);
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 30px; */
    /* padding-left: 10px; */
    text-decoration: none;

}
.checkbox{
    height: 15px;
    width: 15px;
}
form{
    line-height: 30px;
    padding-left: 14px;
}

.box p{
    color: rgb(60, 60, 246);
    padding-left: 15px;
    margin: 18px;
    margin-left: 0px;
}
.disabled{
    color: rgb(128, 128, 128, 0.5);
    text-decoration: line-through;
}

:hover.box{
    box-shadow: 0px 0px 7px 7px rgb(128, 128, 128, 0.1);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

a hr{
    border:.5px solid rgb(128, 128, 128, 0.1);
}
iframe{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(128, 128, 128, 0.4); */
    filter: blur(1px);
    background-color: rgb(0, 0, 0, 0.5);
    
    
}    
.absolute{
    z-index: 1;
    height: 30vh;
    width:35%;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 35%;
    left: 32%;
    position: fixed;
    border: 1px solid rgb(128, 128, 128, 0.1);
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.item1{
    font-weight: 600;
    font-family: sans-serif;
}
.item2{
    font-weight: 100;
    font-size: 15px;
}
#text{
    margin: 7%;
    margin-top: 8%;
    align-items: center;
    display: flex;
    justify-content:space-around;
    width: 80%;
    height: 1vh;
    padding: 2%;
    border-radius: 5px;
    background-color: rgb(128, 128, 128, 0.1) ;

}
.taskbox{
    height: 5vh;
    width: 40%;
    background-color: #2196F3;
    border-radius: 5px;
    position: relative;
    right:-53%;
    text-align: center;
    color: white;
    padding-top: 3%;
    /* padding-top: 3%; */
    font-size: 20px;
    font-weight: bold;
    
    display: inline-block;

}

.dash{
    display: inline-block;
    font-size: 34px;
    margin-left: -10px;
}
.back{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    font-size: 25px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: white;
    
}
.task1{
width: 40%;
height: 10vh;
display: flex;
justify-content: space-evenly;
align-items: center;
align-content: center;
margin: 10% 0 2% 0;
}

.align{
    margin-left: -5%;
}

.container100{          
    height: 100vh;
    overflow-y: hidden;
}

@media  (max-width:460px){
    h1 span{
        margin: auto;
    }
    .addtask{
        margin: 20px 20px;
        justify-content: space-evenly;
    }
    .container{
        flex-direction:column;
        
        margin: auto;
        
    }
    .box{
        min-width: 300px;
        margin: auto;
    }
    .absolute{
        min-width: 300px;
        margin: auto;
        bottom: 10%;
        left: 2%;
        right: 2%;
        min-height: 230px;
    }

    .taskbox{
        bottom: -60px;
    }
    .textarea{
        position: relative;
        bottom: -20px;
    }

    .task1{
        min-width: 300px;
        justify-content: start;
        margin-bottom: 10%;
    }

    .back{
        margin: 0px;
        padding: 6px;
        position: relative;
        bottom: 0px;
    }
    .dash{
        margin: 0;
        padding: 0;
    }
}
